<div class="w-full p-4">
    <main role="main" class="w-full flex flex-col h-screen content-center justify-center bg-[('https://www.shutterstock.com/image-photo/photo-serious-coder-interested-critical-260nw-1536573449.jpg')]">

    </main>
</div>
